<html>
    <head >
        <title>Desapego de {{ desapegador.nome }}</title>

        <meta property="og:title" content="{{ desapegado.nome_completo }}" />
        <meta property="og:type" content="appdesapego:pessoa"/>
        <meta property="og:image" content="http://graph.facebook.com/{{ desapegado.fbId }}/picture?type=large" />
        <meta property="og:description" content="Vou desapegar porque: {{ desapego.hashtagsToString }}"/>
        <meta property="og:site_name" content="Desapego"/>
        <meta property="hashtags" content="Vou desapegar porque: {{ desapego.hashtagsToString }}" />

        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <div id="wrapper">
        </div>
    </body>
</html>

