<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# appdesapego: http://ogp.me/ns/fb/appdesapego#">
        <title>Desapego de {{ desapegador.nome }}</title>

        
        <meta property="fb:app_id" content="228040750713469" />
        <meta property="og:title" content="{{ desapegador.nome }} desapegou de {{ desapegado.nome }}" />
        <meta property="og:image" content="http://graph.facebook.com/{{ desapegado.fbId }}/picture?type=large" />
        <meta property="og:url" content="http://www.desapegoapp.com.br/d/{{ desapego.pk }}" />
        <meta property="og:type" content="appdesapego:pessoa" />


        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <div id="wrapper">
        </div>
    </body>
</html>

