<!DOCTYPE html>
<html lang="pt-br">
 <head>
    <title>Desapego</title>
    <meta charset="utf-8">
    <meta content="Desapego - De quem você vai desapegar?" name="description">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <!-- change it!-->
    <meta content="Lab21k (contato@lab21k.com.br)" name="author">
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/https://s3.amazonaws.com/favicon.ico" rel="shortcut icon">
    <!-- jquery js file-->
    <script src="https://s3-sa-east-1.amazonaws.com/data-desapego/js/jquery.js"></script>
    <!-- fastclick js library file-->
    <script src="https://s3-sa-east-1.amazonaws.com/data-desapego/js/fastclick.js">   </script>
    <!-- foundation JS file-->
    <script src="https://s3-sa-east-1.amazonaws.com/data-desapego/js/foundation.min.js"></script>
    <!-- JQuery waypoints plugin-->
    <script src="https://s3-sa-east-1.amazonaws.com/data-desapego/js/waypoints.min.js">   </script>
    <!-- normalize all styles-->
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/css/normalize.css" rel="stylesheet" type="text/css">
    <!-- foundation css framework-->
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/css/foundation.min.css" rel="stylesheet" type="text/css">
    <!-- basic theme style-->
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/css/app.css" rel="stylesheet" type="text/css">
    <!-- green color scheme for Flatland-->
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/css/green-theme.css" rel="stylesheet" type="text/css">
    <!-- include fonts-->
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://s3-sa-east-1.amazonaws.com/data-desapego/http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- header section-->
    <header class="header hide-for-small-only">
      <ul data-orbit="" data-options="animation:fade;animation_speed:500;pause_on_hover:true;navigation_arrows:false;bullets:false;slide_number:false;timer:true;">
        <li>
          <div>
            <img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/Logo.png">
            <h3>De quem você vai desapegar?</h3>
	    <a class="button dark-blue-button" style="display: block;" data-reveal-id="dialog-baixar" data-reveal="">Faça o Download</a>
	    <a href="https://s3-sa-east-1.amazonaws.com/data-desapego/http://www.facebook.com/pages/Desapego/734443863240121" class="button dark-blue-button" style="display: block; background-color: #3b5998;">Visite nosso facebook</a>
	    <img src="https://s3-sa-east-1.amazonaws.com/data-desapego/img/Android-Market.png" style="display: inline-block;"/>
	    <img src="https://s3-sa-east-1.amazonaws.com/data-desapego/img/apple.png" style="display: inline-block;"/>
          </div>
        </li>
      </ul>
    </header>
    <header class="mobile-header show-for-small-only">
      <img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/Logo.png">
    </header>
    <nav data-magellan-expedition="fixed">
      <div class="row clearfix">
        <dl class="sub-nav right">
          <dd data-magellan-arrival="features"><a href="https://s3-sa-east-1.amazonaws.com/data-desapego/#features">O Desapego</a></dd>
          <dd data-magellan-arrival="how-to-use"><a href="https://s3-sa-east-1.amazonaws.com/data-desapego/#how-to-use">Desapegue</a></dd>
          <dd>
            <button data-reveal-id="dialog-baixar" data-reveal="" class="button tiny dark-blue-button">Download</button>
          </dd>
        </dl>
      </div>
    </nav>
    <!-- features section--><a name="features"></a>
    <section data-magellan-destination="features" class="features-block white-block">
      <div class="row">
        <header class="text-center columns small-12">
		  <h2>Confira o aplicativo que já se tornou um sucesso!</h2>
          <p>Veja o que você pode fazer no app que está bombando nas redes sociais</p>
        </header>
        <div class="columns small-12 medium-8 medium-offset-2 large-6 large-offset-0 fly-left-animation">
          <ul>
            <li>
              <h4>Brinque com quem você gosta</h4>
              <p>Divirta-se desapegando de namorados, ficantes, amigos ou quem mais merecer ser desapegado</p>
            </li>
            <li>
              <h4>Desapegue de quem te pertuba</h4>
              <p>Aquela sogra rabugenta, aquele ex insuportável, ninguém merece, né? Desapega!</p>
            </li>
            <li>
              <h4>Descubra quem já desapegou!</h4>
              <p>Localize desapegos por perto e comente</p>
            </li>
			<li>
				<div class="columns small-12 small-centered">   
				<button class="button dark-blue-button" data-reveal-id="dialog-baixar" data-reveal="">Fazer Download</button>
				</div>
			</li>
          </ul>
        </div>
        <div class="columns large-6 show-for-large-up fly-right-animation"><img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/flatland.png" class="laptop-picture"></div>
      </div>
    </section>
    <!-- instruction section--><a name="how-to-use"></a>
    <section data-magellan-destination="how-to-use" class="instruction-block light-grey-block">
      <div class="row text-center">
        <header class="columns small-12">
          <h2>Quer saber como desapegar? É simples!</h2>
          <p>Em menos de 1 minuto você já vai ter desapegado! Confira os 3 passos:</p>
        </header>
        <ol class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 fly-in-animation">
          <li class="text-left">
            <header class="text-center"><img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/passo1.png">
              <h4>1. Escolha seu alvo</h4>
            </header>
          </li>
          <li class="text-left">
            <header class="text-center"><img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/passo2.png">
              <h4>2. Dê seus motivos</h4>
            </header>
          </li>
          <li class="text-left">
            <header class="text-center"><img src="https://s3-sa-east-1.amazonaws.com/data-desapego/css/images/passo3.png">
              <h4>3. Revise e desapegue</h4>
            </header>
          </li>
        </ol>
      </div>
    </section>
    <!-- call to action section-->
    <section class="cta-block dark-blue-block">
      <div class="row text-center fly-in-animation">
        <div class="columns large-12 small-12">
          <p>
      <h2>baixe o desapego agora mesmo!</h2>
          <p>escolha sua plataforma:</p>
          </p> 
        </div><a data-reveal-id="dialog-baixar" data-reveal="" class="button green-button">fazer download</a>

  <p>feito com amor e carinho por <a href="https://s3-sa-east-1.amazonaws.com/data-desapego/http://www.lab21k.com.br/">lab21k</a></p>
      </div>
    </section>
    <!-- dialogs. One sample dialog with content and another one with video.-->
    <div id="dialog-baixar" data-reveal="" class="reveal-modal">
	    <div style="position: relative;">
	    	<a href="https://play.google.com/store/apps/details?id=com.lab21k.desapego"><img src="https://s3-sa-east-1.amazonaws.com/data-desapego/img/googleplay.png" style="display: inline-block; position: absolute; margin-top: 40px; left: 0;"/></a>
	    </div>
    </div>
    <!-- run javascript. Better to do that at the bottom-->
    <script>
      $(document).foundation();
      if(matchMedia){
        var matchingMediumAndLargeScreens = matchMedia('only all and (min-width: 680px)');
        if(matchingMediumAndLargeScreens && matchingMediumAndLargeScreens.matches){
          $('.fly-in-animation:not(.animated)').waypoint(function(direction){
            if(direction === 'down'){
              $(this).addClass('animated fadeInUp');
            }
          }, { offset: '99%' });
          $('.fly-left-animation:not(.animated)').waypoint(function(direction){
            if(direction === 'down'){
              $(this).addClass('animated fadeInLeftBig');
            }
          }, { offset: '105%' });
          $('.fly-right-animation:not(.animated)').waypoint(function(direction){
            if(direction === 'down'){
              $(this).addClass('animated fadeInRightBig');
            }
          }, { offset: '105%' });
        } 
      }   
    </script>
  </body>
</html>
